@charset "UTF-8";
/* ***************** IMPORT ******************* */
/* **************** COLOR ****************** */
/* ***************** flex ********************* */
/* ****************** responsive *************** */
/* ***************** background ***************** */
/* *********** loader ****************************** */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@keyframes iconsLoader {
  0% {
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  32% {
    opacity: 0;
    bottom: 0px;
  }
  33% {
    opacity: 0;
    bottom: 85px;
  }
  49% {
    opacity: 1;
  }
  65% {
    opacity: 0;
    bottom: 85px;
  }
  66% {
    opacity: 0;
    bottom: 170px;
  }
  82% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    bottom: 170px;
  }
  100% {
    opacity: 0;
    bottom: 0px;
  }
}
@keyframes loader {
  99% {
    height: 100vh;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
/* ************** hearth ***************** */
@keyframes hearth {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*  ********************* breakpoints ************* */
/* ********************* background ************* */
/* Polices de caractéres */
body {
  font-family: "roboto", serif, sans-serif;
}

body,
h1,
h2,
p {
  margin: 0;
}

h2 {
  margin-bottom: 25px;
}

a {
  text-decoration: none;
  color: black;
}

/* ******************* loader ******************** */
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background: white;
  animation: loader;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.loader .iconsContainer {
  width: 100px;
  height: 90px;
  overflow: hidden;
}
.loader .iconsContainer::after {
  content: "  ";
  text-align: center;
  font-size: 5rem;
  display: flex;
  position: relative;
  animation: iconsLoader 3s infinite;
}

/* **************** header ********************** */
header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .backArrow::before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: bold;
  font-size: 1.25rem;
  position: absolute;
  top: 20px;
  left: 20px;
}
header .logo {
  background: url("../images/logo/ohmyfood.png") center/cover;
  height: 28px;
  width: 165px;
}

/* *************** presentation **************** */
@media (min-width: 768px) {
  #presentation {
    display: flex;
    flex-flow: row-reverse;
  }
}

/* ****************** .location **************** */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #eaeaea;
  box-shadow: inset 0px 6px 20px -10px rgba(0, 0, 0, 0.3);
}
.location p {
  margin-right: 20px;
}
.location p:before {
  font-family: "Font Awesome 5 Free";
  content: "";
  font-weight: bold;
  margin-right: 20px;
}

/* ********************* nav ************************ */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 5%;
  background-color: whitesmoke;
  /* == #f5f5f5(couleur sur la maquette)*/
}
@media (min-width: 768px) {
  nav {
    border-radius: 50%;
    width: 50%;
  }
}
nav h1 {
  font-size: 1.45rem;
  letter-spacing: 1px;
}
nav p {
  font-size: 1.1rem;
  font-weight: 100;
  color: #848484;
  margin: 11px;
}
nav .button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  width: 66%;
  height: 50px;
  border-radius: 25px;
  background: #ff79da;
  background: linear-gradient(171deg, #ff79da 0%, #9356dc 100%);
  border: none;
  color: white;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}
nav .button:hover {
  /* Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir.
  L’ombre portée devra également être plus visible.*/
  background: linear-gradient(171deg, #ff93e1 0%, #a16be0 100%);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.7);
}

/* ********** section #operation ******************** */
section {
  padding: 50px 20px 48px 20px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #operation {
    width: 50%;
  }
}

.cardsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 340px;
  margin-bottom: 22px;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.card {
  /* Décalage de tout le contenu vers la gauche */
}
.card__number, .card__icon, .card__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 12px;
  margin-right: 8%;
}
.card__number {
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
}
.card__icon {
  color: #848484;
  font-size: 1.2rem;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  width: 20px;
}
.card__icon--mobile::after {
  content: "";
}
.card__icon--list::after {
  content: "";
}
.card__icon--store::after {
  content: "";
}
.card__icon--color {
  color: #9356dc;
}
.card__text {
  height: 75px;
}
.card--color {
  background-color: #f2eafb;
}

/* **************** restaurants **************** */
#restaurants {
  background-color: whitesmoke;
}
@media (min-width: 768px) {
  #restaurants .cardsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
#restaurants a {
  margin-bottom: 19px;
  width: 345px;
}
#restaurants a .card {
  flex-direction: column;
  overflow: hidden;
  margin: 0;
}
#restaurants a .card__photo {
  display: flex;
  height: 175px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
#restaurants a .card__photo--background1 {
  background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") bottom/cover;
}
#restaurants a .card__photo--background2::after {
  content: "";
  background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") bottom/cover;
  height: 160%;
  height: 154%;
  width: 100%;
}
#restaurants a .card__photo--background3 {
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg") bottom/cover;
}
#restaurants a .card__photo--background4 {
  background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg") bottom/cover;
}
#restaurants a .card__photo .new::after {
  content: "Nouveau";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
  background-color: #99e2d0;
  position: absolute;
  top: 13px;
  right: 13px;
  font-size: 0.85rem;
  color: #217460;
  font-weight: bold;
}
#restaurants a .card .textContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#restaurants a .card .textContainer .card__text {
  flex-direction: column;
  align-items: baseline;
  position: sticky;
  padding-left: 4%;
  font-size: 1.1rem;
  line-height: 26px;
}
#restaurants a .card .textContainer .card__text--bold {
  font-weight: bold;
}
#restaurants a .card .textContainer .card__text--color {
  color: #848484;
}
#restaurants a .card .textContainer .card__icon {
  font-size: 1.5rem;
  color: black;
  margin-right: 10px;
  margin-bottom: 8px;
  /* À terme, les visiteurs pourront sauvegarder leurs menus préférés. Pour ça, un
    bouton "J’aime" en forme de cœur est présent sur la maquette. Au clic, il devra se
    remplir progressivement. Pour cette première version, l’effet peut être apparaître au
    survol sur desktop au lieu du clic. */
}
#restaurants a .card .textContainer .card__icon:hover .far {
  position: absolute;
}
#restaurants a .card .textContainer .card__icon:hover .fas {
  display: block;
  animation-name: hearth;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#restaurants a .card .textContainer .card__icon .fas {
  display: none;
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ******************** footer ***************** */
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0 0 15px 20px;
}
@media (min-width: 768px) {
  footer {
    padding-left: 0;
  }
}
footer h3 {
  font-family: "shrikhand", serif, sans-serif;
}
@media (min-width: 768px) {
  footer h3 {
    text-align: center;
  }
}
footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-around;
  }
}
footer ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
footer ul li .icon {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  margin-right: 10px;
  width: 20px;
}
footer ul li .icon--ustensils::after {
  content: "";
}
footer ul li .icon--handsHelping::after {
  content: "";
}
footer ul li a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
