/* ***************** IMPORT ******************* */
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./utils/maps";
/* Polices de caractéres */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

body {
  width: 375px;
  font-family: "roboto", serif, sans-serif;
}
body,
h1,
h2,
p {
  margin: 0;
}
h2 {
  margin-bottom: 25px;
}
a {
  text-decoration: none;
  color: black;
}
/* ******************* header *************** */
@import "./layout/header";
/* ********************* photoMenu ************** */
@import "./layout/photoMenu";
/* ***************** menuContainer **************************** */

@import "./layout/menuContainer";
/* ***************** footer ************** */
@import "./layout/footer";
