* {
  border: 1px solid blue;
}

html {
  width: 375px;
}

body {
  margin: 0;
}

/* **************** HEADER ********************** */
header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 28px;
  }
}
