/* ***************** IMPORT ******************* */
@import "./utils/variables";
@import "./base/fonts";

// * {
//   border: 1px solid blue;
// }

html {
  width: 375px;
}

body,
h1,
h2,
p {
  margin: 0;
  font-family: "roboto", serif, sans-serif;
}
h2 {
  margin-bottom: 28px;
}

/* **************** header ********************** */
header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 28px;
  }
}

/* ****************** .location **************** */
.location {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 500;
  background-color: $colorFourth;
  box-shadow: inset 0px 6px 20px -10px rgb(0 0 0 / 30%);
  .fas {
    position: absolute;
    left: 28%;
  }
}

/* ********************* main ******************** */
main {
}

/* ********************* nav ************************ */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 5%;
  background-color: lighten(
    $color: $colorFourth,
    $amount: 4.4%
  ); /* == #f5f5f5(couleur sur la maquette)*/
  h1 {
    font-size: 1.45rem;
    letter-spacing: 1px;
  }
  p {
    font-size: 1.1rem;
    font-weight: 100;
    color: darken($color: $colorFourth, $amount: 40%);
    margin: 11px;
  }
  button {
    margin: 24px 0;
    width: 66%;
    height: 50px;
    border-radius: 25px;
    background: $colorSecondary;
    background: linear-gradient(171deg, #ff79da 0%, #9356dc 100%);
    border: none;
    color: white;
    font-size: 0.98rem;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 30%);
  }
}

/* ***************** section ******************** */
section {
  margin: 48px 20px 68px 20px;
  height: 325px;
  display: flex;
  flex-direction: column;
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card {
  display: flex;
  align-items: center;
  height: 75px;
  background-color: lighten($color: $colorFourth, $amount: 4.4%);
  border-radius: 15px;
  box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 30%);
  margin-left: 14px;
  &__number,
  &__icon,
  &__sentence {
    position: relative;
    right: 12px;
    margin-right: 8%;
  }
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: $colorPrimary;
    color: white;

    border-radius: 50%;
  }
  &__icon {
    color: darken($color: $colorFourth, $amount: 40%);
    font-size: 1.2rem;
    &--color {
      color: $colorPrimary;
    }
  }
  &--color {
    background-color: lighten($color: $colorPrimary, $amount: 35%);
  }
}
