footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0 0 15px 20px;
  h3 {
    font-family: "shrikhand", serif, sans-serif;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      @include flex-center;
      margin-bottom: 10px;
      i {
        margin-right: 10px;
      }
      .fa-hands-helping {
        font-size: 0.7rem;
      }
      a {
        color: white;
      }
    }
  }
}
