.photoMenu {
  height: 220px;
  display: flex;
  // overflow: hidden;
  &::after {
    content: "";
    height: 255px;
    width: 100%;
    z-index: -1;
  }
}
.photo1 {
  &::after {
    @include background1;
  }
}
.photo2 {
  &::after {
    @include background2;
  }
}
.photo3 {
  &::after {
    @include background3;
  }
}
.photo4 {
  &::after {
    @include background4;
  }
}
