section {
  padding: 50px 20px 48px 20px;
  display: flex;
  flex-direction: column;
}
.cardsContainer {
  @include flex-center-column;
}
@import "../components/card";
.card {
  /* Déclage de tout le contenu vers la gauche */
  &__number,
  &__icon,
  &__text {
    @include flex-center-center;
    position: relative;
    right: 12px;
    margin-right: 8%;
  }
  &__number {
    height: 25px;
    width: 25px;
    background-color: $colorPrimary;
    color: white;
    border-radius: 50%;
  }
  &__icon {
    color: darken($color: $colorFourth, $amount: 40%);
    font-size: 1.2rem;
    &--color {
      color: $colorPrimary;
    }
  }
  &__text {
    height: 75px;
  }
  &--color {
    background-color: lighten($color: $colorPrimary, $amount: 35%);
  }
}
